<!-- Footer -->
<footer>
    <div class="row">
        <div class="col-lg-12">
            <p>Tous droits réservés SIO 2016-2017</p>
        </div>
    </div>
    <!-- /.row -->
</footer>

</div>
<!-- /.container -->