{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<br/>
    <br/>
    <div class="container">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>Réinitialisation du mot de passe</h3></div>
            <div class="panel-body">
                {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}
            </div>
        </div>
    </div>
{#<p>#}
{#{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime}) }}#}
{#</p>#}
{% endblock %}
