{% extends 'base.html.twig' %}

{% block content %}

<!-- Page Content -->
<div class="container">

    <hr>
    <hr>

    <div class="row">
        <div class="col-sm-4">
            <a href="{{ path('admin_event_create') }}"><img class="img-circle img-responsive img-center img-create" alt=""></a>
            <h2>Création d'un événement</h2>
            <p>Formulaire qui permet de créer un événement à une date souhaité.</p>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('admin_event_list') }}"><img class="img-circle img-responsive img-center img-list" alt=""></a>
            <h2>Liste des événements</h2>
            <p>Liste qui vous permez de visionner tous les événements programmés, et accéder aux détails d'un
                événement.</p>
        </div>
        <div class="col-sm-4">
            <a href="{{ path('admin_event_delete_list') }}"><img class="img-circle img-responsive img-center img-cancel" alt=""></a>
            <h2>Annulation des inscriptions</h2>
            <p>Liste qui vous permez de supprimer les places réservées par un utilisateur pour un événement.</p>
        </div>
    </div>
    <!-- /.row -->

    {% endblock %}
