<h3>ATTENTION! Réservation annulée!</h3>

Bonjour {{ name }},

Nous sommes désolé de vous annoncer que l'événement :

    <h3>{{ Event }}</h3>

est annulé, vos places seront remboursées très prochainement.<br/>

Merci de votre confiance.